<% provide(:title, @user.name) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
  <%= @user.city %>
  <%= @user.state %>
  <%= @user.number_of_hives %>
  <%= @user.price_per_hive %>
  <%= @user.years_exp %>
  <%= @user.crop %>
  <%= @user.acres %>



</h1>